@model List<ContactModel>

@{
    ViewData["Title"] = "Contatos";
}

<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
    <a class="btn btn-primary" role="button" asp-controller="Contact" asp-action="Create">Adicionar contato</a>
</div>

<div class="text-center">
    <h1 class="text-center mb-3 display-4">Contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach(var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Contact" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@item.Id" asp-controller="Contact" asp-action="ConfirmDelete">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>